@{
    ViewData["Title"] = "Home Page";
}
<br/>
<br/>
<br/>
<br/>
<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Aplicação desenvolvida pelos alunos do 2º ADS, turma 1: Erick, Guilherme e Leonardo</a>.</p>
</div>
