@model aplicacaoLoja.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>
<br/>
<br/>
<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="clienteID" class="control-label"></label>
                <select asp-for="clienteID" class="form-control" asp-items="ViewBag.clienteID"></select>
                <span asp-validation-for="clienteID" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="funcionarioID" class="control-label"></label>
                <select asp-for="funcionarioID" class="form-control" asp-items="ViewBag.funcionarioID"></select>
                <span asp-validation-for="funcionarioID" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <br/>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
